<div class="loginwrapper">
    <div class="text-center">
        <div class="logo-center mb-5">
            <a [routerLink]="['/home']">
                <img src="assets/images/logo.svg" alt="logo" />
            </a>
        </div>
        <div class="successicon pt-5">
            <mat-icon>task_alt</mat-icon>
        </div>
        <h2 class="pt-3">
            Congratulations on signing up! <br/> A verification email has been sent to you. 
        </h2>
       <p> If you can't find it, check your spam or junk folder. If you have any issues, contact us at support@recruitryte.com.</p>
    </div>
</div>