<header class="main-header">
    <div class="container-fluid">
        <div class="navogations">
            <div class="logo">
                <a [routerLink]="['/assistant']">
                    <img src="assets/images/logo-white.svg" alt="logo">
                </a>
            </div>
            <div class="menubar">
                <nav class="d-flex">
                    <ul class="mx-auto">
                        <li class="homebtn">
                            <a [routerLink]="['/boolean-strings']" routerLinkActive="router-link-active">
                                Boolean Strings
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <!-- <li class="text-white"><span>{{creditleft}} credits left</span></li> -->
                        <li class="account">
                            <a [routerLink]="['/account/credits']" routerLinkActive="router-link-active">
                                <mat-icon>account_circle</mat-icon>
                            </a>
                        </li>
                        <!-- <li class="account">
                            <button mat-icon-button [matMenuTriggerFor]="menu" class="text-white fa-4x">
                                <mat-icon>account_circle</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu"  xPosition="before">
                            <button [routerLink]="['/account/credits']" mat-menu-item>Account</button>
                            <button (click)="logout()" mat-menu-item>Logout</button>
                            </mat-menu>   
                        </li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>