<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-center">
                    <!-- <img class="footerlogo" src="assets/images/logo-white.svg" alt="logo" /> -->
                    <p class="mb-0">Copyright © 2023, recruitRyte.com</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <ul class="justify-content-center align-items-center">
                        <li>
                            <a [routerLink]="['/terms-of-service']" routerLinkActive="router-link-active" >Terms of service</a>
                        </li>
                        <li>
                            <a [routerLink]="['/privacy-policy']" routerLinkActive="router-link-active" >Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <ul class="justify-content-end align-items-center">
                        <li class="d-flex align-items-center">
                            <mat-icon>mail</mat-icon> <a class="ml-2" target="_blank" href="mailto:support@recruitRyte.com">support@recruitRyte.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>