<app-header></app-header>

<div class="applayout">
  <div class="sidebarmain">
    <div *ngIf="!requireDesireKeyword">
    <form>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <label class="semi-bold">Generate Boolean Strings :</label>
          <div class="steps" *ngIf="desctype">
            <span>Step: 1 / 2</span>
          </div>
        </div>
        <div class="input-item">
          <mat-radio-group [(ngModel)]="booleanInputType" name="booleanInputType" (change)="selectgenrateOption(booleanInputType)" aria-label="boolean">
            <mat-radio-button value="query">Your Query</mat-radio-button>
            <mat-radio-button value="jobdescription">Job Description</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="form-group" *ngIf="!desctype">
        <textarea class="form-control" [(ngModel)]="desc" name="desc" rows="3" placeholder="Ask to recruitRyte"></textarea>
      </div>
      <div class="form-group" *ngIf="desctype">
        <textarea class="form-control" [(ngModel)]="jobdesc" name="jobdesc" rows="8" placeholder="Paste Job Description"></textarea>
      </div>

        <div class="form-group actionwithloader">
          <button class="btn btn-primary" (click)="genrateKeywords()" type="submit"> generate <mat-spinner
              *ngIf="loader" diameter="25" strokeWidth="2"></mat-spinner></button>
        </div>
    </form>
    <div *ngIf="!desctype">
      <h5 class="pt-4">Try Example</h5>
      <div class="border exampledemo" id="exampleId">Looking for a Business Analyst with 5+ years of experience in the Finance industry, Experience in Python, Data Analysis and SQL.</div>
    </div>
    <div *ngIf="desctype">
      <h5 class="pt-4">Try Job Decription</h5>
      <pre>We are looking for a skilled react.js developer to join our front-end development team. In this role, you will be responsible for developing and implementing user interface components using React.js concepts and workflows such as Redux, Flux, and Webpack. You will also be responsible for profiling and improving front-end performance and documenting our front-end codebase.
To ensure success as a react.js developer, you should have in-depth knowledge of JavaScript and React concepts, excellent front-end coding skills, and a good understanding of progressive web applications. Ultimately, a top-class react.js developer should be able to design and build modern user interface components to enhance application performance.
React.js Developer Responsibilities:
Meeting with the development team to discuss user interface ideas and applications.
Reviewing application requirements and interface designs.
Identifying web-based user interactions.
Developing and implementing highly responsive user interface components using react concepts.
Writing application interface codes using JavaScript following react.js workflows.
Troubleshooting interface software and debugging application codes.
Developing and implementing front-end architecture to support user interface concepts.
Monitoring and improving front-end performance.
Documenting application changes and developing updates.
React.js Developer Requirements:
Bachelor’s degree in computer science, information technology, or a similar field.
Previous experience working as a react.js developer.
In-depth knowledge of JavaScript, CSS, HTML, and front-end languages.
Knowledge of REACT tools including React.js, Webpack, Enzyme, Redux, and Flux.
Experience with user interface design.
Knowledge of performance testing frameworks including Mocha and Jest.
Experience with browser-based debugging and performance testing software.
Excellent troubleshooting skills.
Good project management skills.
      </pre>
    </div>
    </div>
    <div *ngIf="requireDesireKeyword">
      <div class="form-group d-flex justify-content-between">
        <label class="semi-bold">Generate Boolean Strings :</label>
        <div class="steps">
          <span>Step: 2 / 2</span>
        </div>
        </div>
        <h5 class="semi-bold pb-2">Add Keywords</h5>
        <form [formGroup]="booleanchipform" (ngSubmit)="genrateBooleanString()">
        <div class="form-group">
          <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Required Keywords</mat-label>
              <mat-chip-list #requieredkeyList aria-label="keyword selection">
                <mat-chip
                  *ngFor="let keyword of reqkeywords"
                  (removed)="remove(keyword)">
                  {{keyword}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="New keyword..."
                  #fruitInput
                  [formControl]="requiredkeyCtrl"
                  [matChipInputFor]="requieredkeyList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="form-group">
          <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Desired Keywords</mat-label>
              <mat-chip-list #desiredkeyList aria-label="keyword selection">
                <mat-chip
                  *ngFor="let keyword of deskeywords"
                  (removed)="removedesired(keyword)">
                  {{keyword}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="New keyword..."
                  #desiredInput
                  [formControl]="desirekeyCtrl"
                  [matChipInputFor]="desiredkeyList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="adddesired($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="form-group d-flex">
            <button class="btn btn-outline-secondary mr-3">Back</button>
            <button class="btn btn-primary" type="submit"> generate <mat-spinner
              *ngIf="loader" diameter="25" strokeWidth="2"></mat-spinner>
            </button>
          </div>
        </form>
    </div>
  </div>
  <div class="ressultlayout">
    <div class="loaderwraper" *ngIf="loader">
      <div class="stage">
        <div class="dot-pulse"></div>
      </div>
    </div>
    <div class="no-generation" *ngIf="!keywordResult"><img src="assets/images/no-found.svg" alt="no result">
      <h2 class="mt-2">To Generate Boolean String</h2>
      <p>In order to create any boolean string, please enter the description in the Textarea section, and press the generate button.</p>
    </div>
    <div class="resultineditor" *ngIf="keywordResult">
      <div class="doctitle">
          <p class="mb-0">Generated Keywords based on Job Description</p>
      </div>
      <p class="mb-0 mt-3">Boolean Strings For :</p>
      <h4 class="semi-bold inpudesctitle">{{descvalue}}</h4>
      <h4 class="pt-4 mb-3">Keywords</h4>
      <div class="job-keyword">
        <div *ngFor="let k of keys">
            <p class="text-primary mb-2 mt-0"> {{k}}</p>
            <span class="kewordcategories"
                *ngFor="let value of keywordsvalue[k]">{{value}}</span>
        </div>
    </div>

    </div>


  </div>
</div>