<app-header></app-header>

<div class="applayout">
  <div class="sidebarmain">
    <div *ngIf="!requireDesireKeyword">
    <form>
      <div class="form-group">
        <div class="d-flex justify-content-between">
          <label class="semi-bold">Generate Boolean Strings :</label>
          <div class="steps" *ngIf="desctype">
            <span>Step: 1 / 2</span>
          </div>
        </div>
        <div class="input-item">
          <mat-radio-group [(ngModel)]="booleanInputType" name="booleanInputType" (change)="selectgenrateOption(booleanInputType)" aria-label="boolean">
            <mat-radio-button value="query">Your Query</mat-radio-button>
            <mat-radio-button value="jobdescription">Job Description</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="!desctype">
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]="desc" name="desc" rows="3" placeholder="Ask to recruitRyte"></textarea>
        </div>
        <div class="form-group actionwithloader">
          <button class="btn btn-primary" (click)="genrateBooleanString()" type="submit"> generate <mat-spinner
              *ngIf="loader" diameter="25" strokeWidth="2"></mat-spinner></button>
        </div>
      </div>
      <div *ngIf="desctype">
        <div class="form-group">
          <textarea class="form-control" [(ngModel)]="jobdesc" name="jobdesc" rows="8" placeholder="Paste Job Description"></textarea>
        </div>
          <div class="form-group actionwithloader">
            <button class="btn btn-primary" (click)="genrateKeywords()" type="submit"> Next <mat-spinner
                *ngIf="loader" diameter="25" strokeWidth="2"></mat-spinner></button>
          </div>
      </div>
    </form>
    <div *ngIf="!desctype">
      <h5 class="pt-4">Try Example</h5>
      <div class="border exampledemo" id="exampleId">Looking for a Business Analyst with 5+ years of experience in the Finance industry, Experience in Python, Data Analysis and SQL.</div>
    </div>
    <div *ngIf="desctype">
      <h5 class="pt-4">Try Job Decription</h5>
      <pre>.NET Developer 
        We would like Azure experience but it isn't 100% required 
        .NET 6 / 7 - anything .NET core 
        Required Knowledge: 
        C# expertise 
        2+ years of .net 5+/.net core 
        Knowledge of Microservice based architecture patterns 
        Knowledge of RESTful API design    
      </pre>
    </div>
    </div>
    <div *ngIf="requireDesireKeyword">
      <div class="form-group d-flex justify-content-between">
        <label class="semi-bold">Generate Boolean Strings :</label>
        <div class="steps">
          <span>Step: 2 / 2</span>
        </div>
        </div>
        <h5 class="semi-bold pb-2">Add Keywords</h5>
        <form [formGroup]="booleanchipform" (ngSubmit)="genrateBooleanString()">
        <div class="form-group">
          <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Required Keywords</mat-label>
              <mat-chip-list #requieredkeyList aria-label="keyword selection">
                <mat-chip
                  *ngFor="let keyword of reqkeywords"
                  (removed)="remove(keyword)">
                  {{keyword}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="New keyword..."
                  #fruitInput
                  [formControl]="requiredkeyCtrl"
                  [matChipInputFor]="requieredkeyList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="form-group">
          <mat-form-field class="example-chip-list" appearance="fill">
              <mat-label>Desired Keywords</mat-label>
              <mat-chip-list #desiredkeyList aria-label="keyword selection">
                <mat-chip
                  *ngFor="let keyword of deskeywords"
                  (removed)="removedesired(keyword)">
                  {{keyword}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input
                  placeholder="New keyword..."
                  #desiredInput
                  [formControl]="desirekeyCtrl"
                  [matChipInputFor]="desiredkeyList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="adddesired($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div class="d-flex">
            <div class="form-group actionwithloader">
              <button class="btn btn-outline-secondary mr-3">Back</button>
            </div>
            <div class="form-group actionwithloader">
              <button class="btn btn-primary" type="submit"> generate <mat-spinner
                *ngIf="loader" diameter="25" strokeWidth="2"></mat-spinner>
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
  <div class="ressultlayout">
    <div class="loaderwraper" *ngIf="loader">
      <div class="stage">
        <div class="dot-pulse"></div>
      </div>
    </div>
    <div class="no-generation" *ngIf="!keywordResult"><img src="assets/images/no-found.svg" alt="no result">
      <h2 class="mt-2">To Generate Boolean String</h2>
      <p>In order to create any boolean string, please enter the description in the Textarea section, and press the generate button.</p>
    </div>
    <div class="resultineditor" *ngIf="keywordResult">
      <div class="doctitle">
          <p class="mb-0" *ngIf="!booleanstringsection">Generated Keywords based on Job Description</p>
          <p class="mb-0" *ngIf="booleanstringsection">Generated Boolean strings based on Job description and Skills</p>
      </div>
      <p class="mb-0 mt-3">Boolean Strings For :</p>
      <h4 class="semi-bold inpudesctitle">{{descvalue}}</h4>
      <div *ngIf="!booleanstringsection">
        <h4 class="pt-4 mb-3">Keywords</h4>
        <div class="job-keyword">
           <span class="kewordcategories"  *ngFor="let value of keywordsvalue">{{value.text}}</span>
        </div>
      </div>
      <div *ngIf="booleanstringsection">
        <ul class="booleanslists">
          <li class="mb-3" *ngFor="let booleanss of booleanlist; let i = index; trackBy: trackBy">
              <div class="boolist">
                <button mat-button (click)="copyToClipboard(booleanss)">
                    <mat-icon>content_copy</mat-icon> 
                </button>
                  <textarea [(ngModel)]="booleanlist[i]" cdkTextareaAutosize [ngModelOptions]="{standalone: true}"></textarea>
              </div>
          </li>
      </ul>
      </div>

    </div>


  </div>
</div>