<app-header [creditleft]="countclick"></app-header>

<div class="applayout">
  <div class="sidebarmain">
    <form *ngIf="!limitover">
      <div class="form-group">
        <label>Compose :</label>
        <select [(ngModel)]="composevalue" name="comse" class="form-control" (change)="selectCompose(composevalue)" placeholder="select">
          <option *ngFor="let c of composes" [ngValue]="c">{{c.name}}</option>
        </select>
        <span *ngIf="!composevalue" class="placeholder">Please select compose options</span>
      </div>
      
      <div *ngIf="composevalue">
        <div class="form-group" *ngIf="jobdescoption">
            <input class="form-control" [(ngModel)]="desc" name="desc" placeholder="Type Job Role" />
        </div>
        <div *ngIf="!jobdescoption">
        <div class="form-group">
            <textarea class="form-control" [(ngModel)]="desc" name="desc" rows="8" [placeholder]="placehodername"></textarea>
        </div>
        <div class="form-group extra-context">
            <label>Provide extra context (optional):</label>
            <input class="form-control" [(ngModel)]="user_notes" name="user_notes" placeholder='Keep it short! Ex: "salary range of 100-120k" ' />
            <small>recruitRyte will try to include this information in the reply. Max 100 characters</small>
        </div>
        <div class="form-group mb-0 pt-3 radioinlinelabel">
          <div class="d-flex">
              <h5 class="pr-3">Tone :</h5>
              <mat-radio-group [(ngModel)]="tone" aria-label="Tone" name="tone">
                  <mat-radio-button value="Casual">Casual</mat-radio-button>
                  <mat-radio-button value="Formal">Formal</mat-radio-button>
                  <mat-radio-button value="Excited">Excited</mat-radio-button>
                  <mat-radio-button value="Urgent">Urgent</mat-radio-button>
                </mat-radio-group>
          </div>
      </div>
      <div class="form-group pt-1 border-top radioinlinelabel">
          <div class="d-flex pt-2">
              <h5 class="pr-3">Length :</h5>
              <mat-radio-group [(ngModel)]="response_length" name="response_length" aria-label="Length">
                  <mat-radio-button value="short">Short</mat-radio-button>
                  <mat-radio-button value="medium">Medium</mat-radio-button>
                  <mat-radio-button value="long">Long</mat-radio-button>
              </mat-radio-group>
          </div>
      </div>
    </div>
        <div class="form-group actionwithloader">
          <button class="btn btn-block btn-primary" (click)="composeNownew()" type="submit"> Compose <mat-spinner *ngIf="loader" diameter="25" strokeWidth="2"></mat-spinner></button>
        </div>
      </div>
    </form> 
    <div *ngIf="limitover">
        <h3>Your Credits limit over</h3>
        <button mat-raised-button color="primary" [routerLink]="['/account/credits']" routerLinkActive="router-link-active" >Upgrade Now</button>
    </div>
  </div>
  <div class="ressultlayout">
    <div class="loaderwraper" *ngIf="loader">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <g transform="translate(20 50)">
        <circle cx="0" cy="0" r="6" fill="#6631F8">
          <animateTransform attributeName="transform" type="scale" begin="-0.375s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(40 50)">
        <circle cx="0" cy="0" r="6" fill="#6631F8">
          <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(60 50)">
        <circle cx="0" cy="0" r="6" fill="#6631f8">
          <animateTransform attributeName="transform" type="scale" begin="-0.125s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(80 50)">
        <circle cx="0" cy="0" r="6" fill="#6631F8">
          <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g>
        </svg>
      <!-- <div class="loader">
      </div> -->
    </div>
    <div *ngIf="nocomposed" class="no-generation"><img src="assets/images/no-results.png" alt="no result">
      <h2 class="mt-2">No Compose any Document</h2>
      <p>Select Compose option and fill up form and click on Compose button in left side panel</p>
    </div>
    <div class="resultineditor" *ngIf="newDocument">
      <div class="doctitle">
        <button *ngIf="!editoractive" class="savebtn" (click)="saveDocument()">
          <img src="assets/images/icons/arrow-left.svg" alt="">
        </button>
        <button *ngIf="editoractive" class="savebtn" (click)="updateDocuments(note)">
          <!-- <i class="fa fa-angle-left"></i> -->
          <img src="assets/images/icons/arrow-left.svg" alt="">
        </button>
        <div class="titleinput">
          <input type="text" class="titleonly" [(ngModel)]="docnamed" name="docnamed" />
          <img class="editicon" src="assets/images/icons/outline-edit.svg" alt="img" />
        </div>
        <a (click)="updateDocuments(note)" class="save">
          <img class="editicon" src="assets/images/icons/save.svg" alt="save" />
        </a>
        <div class="optionsmenu" *ngIf="!limitover">
          <button mat-icon-button [matMenuTriggerFor]="exportmenu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #exportmenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="download()"><img class="editicon mr-2" src="assets/images/icons/download.svg" alt="save" /> Download (.docx) </button>
            <button mat-menu-item (click)="downloadpdfFile()"><img class="editicon mr-2" src="assets/images/icons/download.svg" alt="save" />Download (.pdf)</button>
            <button mat-menu-item (click)="downloadTextFile()"><img class="editicon mr-2" src="assets/images/icons/download.svg" alt="save" />Download (.txt)</button>
          </mat-menu>   
        </div>
      </div>
      <div class="richeditor" id="divprint">
        
        <angular-editor [(ngModel)]="generatedTexthtml" [config]="editorConfig"></angular-editor>
      </div>
      <!-- <div *ngFor="let suggestion of suggestions; let i = index">
        <p class="templname">Template {{i+1}}</p>
        <div class="templatebox">
          <p id="temp" [innerHTML]="suggestion"></p>
      </div>
      </div> -->
    </div>
    <!-- <div class="documentdetails" *ngIf="editoractive">
      <div class="doctitle">
        <button class="savebtn" (click)="updateDocuments(note)"><i class="fa fa-angle-left"></i></button>
        <div class="titleinput">
          <input type="text" class="titleonly" [(ngModel)]="docnamed" name="docnamed" />
          <i class="fa fa-edit"></i>
        </div>
        <div class="optionsmenu">
          <button mat-icon-button [matMenuTriggerFor]="exportmenu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #exportmenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="download()"><mat-icon>download</mat-icon> Download (.docx) </button>
            <button mat-menu-item (click)="downloadpdfFile()"><mat-icon>download</mat-icon> Download (.pdf)</button>
            <button mat-menu-item (click)="downloadTextFile()"><mat-icon>download</mat-icon> Download (.txt)</button>
          </mat-menu>   
        </div>
      </div>
      <div class="richeditor" id="divprint">
        <angular-editor [(ngModel)]="documenttexts" [config]="editorConfig"></angular-editor>
      </div>
    </div> -->
    <div *ngIf="DocumentData && DocumentData.length > 0">
    <div class="documentlist" *ngIf="!editoractive && !newDocument">
      <div class="doctitle">
        <span>Documents</span>
        <a (click)="addnewDocument()" class="with-icon text-dark">
          <img class="mr-2" src="assets/images/icons/outline-document.svg" alt="img" />
          New Document</a>
      </div>
      <div class="documentlist mt-4">
        <table class="table">
            <thead>
              <tr>
                <th style="width: 60%;">Name</th>
                <th>Modified</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of DocumentData">
                <td><a (click)="getdocumentDetails(item)"><div class="with-icon"><img class="mr-3" src="assets/images/icons/outline-document-text.svg" alt="img" /> {{item.doctitle}}</div></a></td>
                <td><span class="text-muted">{{item.time}}</span></td>
                <td>
                  <a class="text-dark mr-3 with-icon" (click)="getdocumentDetails(item)">
                    <img src="assets/images/icons/outline-edit.svg" alt="img" />
                  </a>
                  <a (click)="deleteDocumentfile(item.key)" class="text-danger with-icon">
                    <img src="assets/images/icons/trash.svg" alt="img" />
                  </a>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
</div>
