<app-header></app-header>

<div class="applayout">
  <div class="sidebarmain">
    <form>
      <div class="form-group">
        <label>Compose :</label>
        <select [(ngModel)]="composevalue" name="comse" class="form-control" (change)="selectCompose(composevalue)" placeholder="select">
          <option *ngFor="let c of composes" [ngValue]="c">{{c.name}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="compname == 'Email'">
          <textarea class="form-control" [(ngModel)]="prompt" name="prompt" rows="8" placeholder="Write job Description..."></textarea>
      </div>
      <div class="form-group" *ngIf="compname === 'Job Description'">
          <input class="form-control" [(ngModel)]="prompt" name="prompt" placeholder="Type Job Role" />
      </div>
      <div class="form-group" *ngIf="compname === 'LinkedIn InMail'">
          <textarea class="form-control" [(ngModel)]="prompt" name="prompt" rows="8" placeholder="Write job Description"></textarea>
      </div>
      <div class="form-group" *ngIf="compname === 'SMS Text'">
          <textarea class="form-control" [(ngModel)]="prompt" name="prompt" rows="8" placeholder="Write job Description"></textarea>
      </div>
      <div class="form-group" *ngIf="composevalue">
        <button class="btn btn-primary" type="submit" (click)="test()"> Compose </button>
      </div>
    </form>  
  </div>
  <div class="ressultlayout">
    <div class="loaderwraper" *ngIf="loader">
      <div class="loader"></div>
    </div>
    <div *ngIf="nocomposed" class="no-generation"><img src="assets/images/no-results.png" alt="no result">
      <h2 class="mt-2">No Compose any Document</h2>
      <p>Select Compose option and fill up form and click on Compose button in left side panel</p>
    </div>
    <div class="resultineditor" *ngIf="newDocument">
      <div class="doctitle">
        <button *ngIf="!editoractive" class="savebtn" (click)="saveDocument()"><i class="fa fa-angle-left"></i></button>
        <button *ngIf="editoractive" class="savebtn" (click)="updateDocuments(note)"><i class="fa fa-angle-left"></i></button>
        <div class="titleinput">
          <input type="text" class="titleonly" [(ngModel)]="docnamed" name="docnamed" />
          <i class="fa fa-edit"></i>
        </div>
        <div class="optionsmenu">
          <button mat-icon-button [matMenuTriggerFor]="exportmenu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #exportmenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="download()"><mat-icon>download</mat-icon>Download (.docx) </button>
            <button mat-menu-item (click)="downloadpdfFile()"><mat-icon>download</mat-icon>Download (.pdf)</button>
            <button mat-menu-item (click)="downloadTextFile()"><mat-icon>download</mat-icon>Download (.txt)</button>
          </mat-menu>   
        </div>
      </div>
      <div class="richeditor" id="divprint">
        <angular-editor [(ngModel)]="generatedTexthtml" [config]="editorConfig"></angular-editor>
      </div>
    </div>
    <!-- <div class="documentdetails" *ngIf="editoractive">
      <div class="doctitle">
        <button class="savebtn" (click)="updateDocuments(note)"><i class="fa fa-angle-left"></i></button>
        <div class="titleinput">
          <input type="text" class="titleonly" [(ngModel)]="docnamed" name="docnamed" />
          <i class="fa fa-edit"></i>
        </div>
        <div class="optionsmenu">
          <button mat-icon-button [matMenuTriggerFor]="exportmenu">
              <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #exportmenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="download()"><mat-icon>download</mat-icon> Download (.docx) </button>
            <button mat-menu-item (click)="downloadpdfFile()"><mat-icon>download</mat-icon> Download (.pdf)</button>
            <button mat-menu-item (click)="downloadTextFile()"><mat-icon>download</mat-icon> Download (.txt)</button>
          </mat-menu>   
        </div>
      </div>
      <div class="richeditor" id="divprint">
        <angular-editor [(ngModel)]="documenttexts" [config]="editorConfig"></angular-editor>
      </div>
    </div> -->
    <div *ngIf="DocumentData && DocumentData.length > 0">
    <div class="documentlist" *ngIf="!editoractive && !newDocument">
      <div class="doctitle">
        <span>Documents</span>
        <a (click)="addnewDocument()">New Document</a>
      </div>
      <div class="documentlist mt-4">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of DocumentData">
                <td>{{item.doctitle}}</td>
                <td>
                  <a class="text-info mr-2" (click)="getdocumentDetails(item)">View</a>
                  <a (click)="deleteDocumentfile(item.key)" class="text-danger">Delete</a>
                </td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
</div>
