ul {
    list-style-type: square;
}
a:hover {cursor: pointer;}
ul>li>ul {
    list-style-type: circle;
}

ul>li>ul>li>ul {
    list-style-type: square;
}

ol li {
    font-family: Arial;
}
.d-flex > a {margin-bottom: 8px;}