<div class="pagetitle">
    <h4 class="mb-0">Credits</h4>
</div>
<div class="pageinside">
    <h4>Your Usage</h4>
    <div class="progress mb-2">
        <div class="progress-bar bg-warning" [style.width]="percenvalue + '%'" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="mb-5">
        Credits used - <strong>{{countclick}}</strong>
    </div>
    <div class="plan" *ngIf="!successpayment">
        <div class="d-flex mb-3">
            <h5 class="mb-0 font-weight-bold">Plan</h5>
            <span class="text-muted ml-2">(Your Active plan: {{yourplan}} )</span>
            <p class="pl-3 mb-0 text-muted" *ngIf="planexpry">Plan Expired on {{planexpry | date:'d'}}/{{ planexpry | date:'MM'}}/{{ planexpry | date:'y'}}</p>
        </div>
    <div class="plalist">
        <div class="d-flex justify-content-between">
            <p>Upgrade a plan that’s right for you.</p>
            <div class="d-flex form-group">
                <label class="mr-3">Payment Type:</label>
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="plantypes">
                    <mat-radio-button class="mr-3" [checked]="planduration.checkedone" *ngFor="let planduration of plandurations;" [value]="planduration">
                        {{planduration.name}} 
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="planwrapper" [ngClass]="{dnone: yourplan === 'basic'}">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <h3>Basic</h3>
                    <div class="planprice"><span class="dollars">$</span> {{plantypes.price}}/{{plantypes.name}}</div>
                </div>
                <div class="col-md-5">
                    <ul class="planinfo">
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>100 Credits</span>
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>Access 5+ tones</span>
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>Generate 2 variants</span>
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>Save and Download Unlimited Documents</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button (click)="makePayment(plantypes.price);getplanName('basic');" mat-raised-button color="primary">Upgrade now</button>
                </div>
            </div>
        </div>
        <div class="planwrapper" [ngClass]="{dnone: yourplan === 'pro' && yourplan === 'basic'}">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <h3>Pro</h3>
                    <div class="planprice"><span class="dollars">$</span>{{plantypes.pricepro}}/{{plantypes.name}}</div>
                </div>
                <div class="col-md-5">
                    <ul class="planinfo">
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>300 Credits</span>
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>Access 5+ tones</span>
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>Generate 2 variants</span>
                        </li>
                        <li>
                            <i class="fa fa-check-circle"></i>
                            <span>Save and Download Unlimited Documents</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <button (click)="makePayment(plantypes.pricepro);getplanName('pro');" mat-raised-button color="primary">Upgrade now</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div *ngIf="successpayment">
        <div class="alert alert-success">Your Payment is successfull </div>
        <div>
            <p>Your Active Plan - <strong>{{yourplan}}</strong></p>
            <p *ngIf="planexpry">Plan Expired on {{planexpry | date:'d'}}/{{ planexpry | date:'MM'}}/{{ planexpry | date:'y'}}</p>
        </div>
    </div>
    <div *ngIf="failurepayment">
        <div class="alert alert-danger">Payment Error</div>
    </div>
</div>

