<div class="loginwrapper">
    <div class="logo-center">
        <img src="assets/images/logo.svg" alt="logo" />
    </div>
    <div class="text-center">
        <h2 class="mt-4">Welcome</h2>
    </div>
    <div class="formwrapper">
        <p class="text-center">Log in with your recruitryte account to continue</p>
        <div class="form-group mb-1">
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" class="mr-3" [routerLink]="['/login']">Login
                    </button>
            <button mat-raised-button color="primary" [routerLink]="['/signup']">Signup
                </button>
            </div>
        </div>
        
    </div>
   
</div>