<app-header [creditleft]="countclick"></app-header>
<div class="accountwrapper">
<div class="sidebarmenu">
    <ul class="mt-3">
        <li>
            <a [routerLink]="['/assistant']" routerLinkActive="router-link-active">
                <img class="mr-2" src="assets/images/icons/compose.svg" alt="">
                <span>Compose</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/account/credits']" routerLinkActive="router-link-active">
                <img class="mr-2" src="assets/images/icons/credit.svg" alt="">
                <span>Credit</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/account/profile']" routerLinkActive="router-link-active">
                <img class="mr-2" src="assets/images/icons/profile.svg" alt="">
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a (click)="logout()" routerLinkActive="router-link-active">
                <img class="mr-2" src="assets/images/icons/logout-user.svg" alt="">
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>
<div class="mainwraper">
    <router-outlet></router-outlet>
</div>
</div>